.socialLinks {
    form {
            table{
                tr{
                    td{
                        padding: 5px 10px;
                        input {
                            margin: 10px 20px;
                            height: 30px;
                            width: 400px;
                            border: none;
                            outline: none;
                            border-bottom: 1px solid gray;
                        }
                    }
                }
            }
            
        }
    }
