.individual-course {
    position: relative;
    height: 210px;
    width: 400px;
    border: 1px solid gray;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    img {
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 10px;
        object-fit: cover;
        opacity: rgba(11, 11, 11, 0.575);
        z-index: -12;
    }
    h3 {
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        opacity: 0;
        backdrop-filter: blur(2px);
        top: 50%;
        transition: all .6s ease-in-out;
        left: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        z-index: 12;
        color: rgb(41, 49, 41);
    }


    &:hover {
        scale: 1.05;
        img {
            opacity: 0.3;
        }
        h3 {
            opacity: 1;
        }
    }
}

