.box {
    height: 50px;
    width: 300px;
    border: 0px solid gray;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(41, 49, 41);
    cursor: pointer;
    
}