.signUp{

    .modalBackground {
        width: 100% !important;
        height: 100vh !important;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items:flex-start;
        padding-top: 20px;
        .modalContainer {
          width: 55% !important;
          height: 80% !important;
          border-radius: 12px;
          background-color: white;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          display: flex;
          flex-direction: column;
          padding: 10px 0;
        }
        
        .titleCloseBtn {
          display: flex;
          justify-content: flex-end;
          button {
            background-color: none;
            border: none;
            font-size: 18px;
            cursor: pointer;
          }
        }
    
        .title {
          display: inline-block;
          text-align: center;
          margin-top: 10px;
        }
    
        .body {
          flex: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.4rem;
          text-align: center;
          form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px;
            input {
              height: 40px;
              width: 300px;
              border: none;
              outline: none;
              border-bottom: 1px solid gray;
            }
            span {
              font-size: 18px;
              cursor: pointer;
              color: cornflowerblue;
              &:hover {
                text-decoration: underline;
    
              }
            }
          }
        }
    
        .footer {
          flex: 20%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
    
          button {
            width: 150px;
            height: 45px;
            margin: 10px;
            border: none;
            background-color: cornflowerblue;
            color: white;
            border-radius: 8px;
            font-size: 20px;
            cursor: pointer;
          }
          span {
            color: cornflowerblue;
            cursor: pointer;
          }
        }
    
        #cancelBtn {
          background-color: crimson;
        }
      }
}